body,html {
    height: 100%;
}
.wallpaper{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit:cover;
    z-index: -1;
}
video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit:cover;
    z-index: -1;
}

#icons {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    z-index: 1;
}

.icon {
    width: 75px;
    margin: 10px 2px;
    text-align: center;
    user-select: none;
}

.icon:hover {
    outline: 1px solid rgba(153, 209, 255, 0.5);
    background: rgba(204, 232, 255, 0.2);
}

.icon img {
    width: 40x;
    height: 40px;
    padding: 4px;
}

.icon span {
    color: white;
    font-size: 15px;
    height: 30px;
    display: block;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.panel {
    border: 1px solid #26A6F2;
    -webkit-box-shadow: 1px 1px 13px 0px rgba(87, 87, 87, 1);
    -moz-box-shadow: 1px 1px 13px 0px rgba(87, 87, 87, 1);
    box-shadow: 1px 1px 13px 0px rgba(87, 87, 87, 1);
    position: fixed !important;
    border-radius: 0;
    overflow: hidden;
}

.panel-heading {
    padding: 0;
    color: white;
    font-size: 12px;
    line-height: 12px;
    background-color: #26A6F2;
    border: none;
    user-select: none;
    border-radius: 0;
}

.panel-heading .title {
    padding: 10px 8px;
    display: inline-block;
}

.panel-heading .favicon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-top: -3px;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

.close-window {
    background: url(../images/icons/default/close.png) no-repeat center;
    background-size: 22px 22px;
    display: inline-block;
    float: right;
    height: 32px;
    width: 42px;
    padding: 5px 10px;
}

.close-window:hover {
    background: url(../images/icons/default/close_hover.png) no-repeat center;
    background-size: 22px 22px;
    background-color: #E81123;
}

.task_bar{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: rgba(196, 220, 235, 0.753);
    z-index: 2;
    display: flex;
    /* 使子元素在水平方向排列 */
    flex-direction: row; 
    /* 可根据需要调整子元素之间的间距 */
    justify-content: flex-start; 
}
.task_bar_left{
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.task_bar_time{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.start_menu{
    position: absolute;
    width: 30%;
    height: 60%;
    left: 0px;
    bottom: 40px;
    background-color: rgba(150, 163, 172, 0.753);
}